

.signIn-btn {
  margin: 10px 0;
}


.signInForm {
  width: 400px;
  margin: 150px 0 30px 0;
  border: 2px solid #3f3635;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(0,0,0, 0.75);
  padding: 20px;
}
