.top-films {
  height: 100%;
}

.pagination {
  background: none;
  border: 1px solid black;
  padding: 3px 10px;
}

.top-film-img {


  padding: 0;
}
.prev, .next, {

  margin: 0 10px;
}
.page {
  padding: 0 5px;

}