.favoriteCard {
  background-color: rgba(64,55,54, .9);
  box-shadow: 5px 5px 15px 0 rgba(0,0,0, 0.75);
}
.favoriteCardBody {
  background-color: rgba(64, 55, 54, .9);
  border: 2px solid rgb(74, 68, 68);

}
.remove-btn{
  border: 1px solid white;
}