.Navigation {

  position: sticky;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
    margin: 0;

    li {
      list-style: none;
      margin-right: 30px;
      font-size: 1.2rem;

      &:last-child{
        margin-right: 60px;
      }
    }
  }
}