.form {
  margin: 20px 0;
  width: 400px;
  border: 2px solid #3f3635;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(0,0,0, 0.75);
  padding: 20px;
}
.find {
  margin-top: 20px;
  padding: 2px 15px;
  border: 1px solid lightgray;
  color: lightgray;
}
.formLabel {
  font-size: 0.8rem;
}