@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./components/Navigation/Navigation";
@import "./components/Landing/Landing";
@import "./components/SignUp/signup";
@import "./components/SignIn/signin";
@import "./components/Card/Card";
@import "./components/Search/Serch";
@import "./components/UserFilms/userfilms";
@import "./components/PasswordForget/passForget";
@import "./components/Account/account";
@import "./components/SideNav/sidenav";
@import "./components/PasswordChange/passChange";
@import "./components/Details/Details";
@import "./components/TopFilms/topFilms";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

background: linear-gradient(rgba(64,55,54, .7), rgba(64, 55, 54, 0.7)), url("assets/backfround-image.jpg");
  color: lightgray;
  background-attachment: fixed;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: white;
  }

}

